* {
    margin: 0;
    font-family: 'Exo 2', sans-serif;
}

.block {
    width: 100%;
    height: 100vh;
    background: url("../assets/bg.png");
    background-position: center;
    background-size: cover;
    display: flex;
}
.block.lazy {
    background-image: none;
    background-color: #F1F1FA;
}
.block .bg{
    position: absolute;
    width: 100%;
    height: 100%;

}
canvas{
    width: 100%;
    height: 100%;
}
.text{
    margin: auto;
    position: relative;
}

.block h2 {
    font-size: 80px;
    color: rgb(255, 255, 255);
    line-height: 77px;
    text-align: center;
    width: 680px;
    height: 77px;
    margin-bottom: 40px;
}

.block p {
    font-size: 28px;
    color: rgb(255, 255, 255);
    line-height: 33px;
    margin-bottom: 0;
    text-align: center;
    height: 66px;
    max-width: 515px;
    margin: auto;
}
.text a{
    color: white;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255,255,255,0.3);

}
.text a:hover{
    opacity: .8;
}